body {
    /*background-image: url(fond.png);*/
    background-size: cover;
    background: -moz-linear-gradient(#F8D453, #FF5D5B)
}

a {
    color: chartreuse;
}

.page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.p404 {
    grid-column: 2/2;
    grid-row: 1/1;
    font-size: 10em;

}

.deso {
    grid-column: 2/2;
    grid-row: 2/2;
    font-size: 5em;
}

.retour {
    grid-column: 2/2;
    grid-row: 3/3;
    font-size: 2em;
}
.p404:hover {
    color: aliceblue;
}
